aiocache
aiosqlite
asyncio
async_lru
fastapi
gunicorn
imagecodecs
matplotlib
onnxruntime
opencv-python-headless
pandas
redis
requests
sqlalchemy
torch
torchvision
scikit-image
uvicorn
stardist
csbdeep
numpy==1.26.4
tensorflow
